.Print-data{
    display: flex;
    /* margin-top: 12%; */
    /* margin-left:-88%; */
    margin-top: 5px;
    flex-wrap: wrap;
    height: 100vh;
    /* overflow-y: auto; */
    justify-content: flex-start;
    justify-content: flex-start;
}